@model IEnumerable<CompressMedia.DTOs.BlobDto>

@{
	ViewBag.Title = "Medias";
	Layout = "_Layout";
}

<h2>Medias</h2>

<table class="table table-bordered mt-4">
	<thead>
		<tr>
			<th>Name</th>
			@* 
			<th>Size(Mb)</th>
			<th>Status</th>
			<th>Compress Time</th> *@
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var media in Model)
		{
			<tr>
				<th>@media.BlobName</th>
				@* <td>@media.Size</td>
				<td>
					@if (media.Status == "Compressing...")
					{
						<h6 style="color:blue">@media.Status</h6>
					}
					@if (media.Status == "Compressed")
					{
						<h6 style="color:green">@media.Status</h6>
					}
					@if (media.Status == "Original")
					{
						<h6 style="color:dimgrey">@media.Status</h6>
					}
				</td>
				<td>@media.CompressDuration</td> *@
				@* <td>200</td> *@
				<td>
					<a asp-controller="Media" asp-action="DeleteMedia" class="btn btn-outline-danger">Delete</a>
					@if (media.Status == "Compressed" || media.Status == "Compressing...")
					{
						<button type="button" class="btn btn-outline-primary" disabled>Compress</button>
					}
					else
					{
						<a asp-controller="Media" asp-action="CompressVideo" class="btn btn-outline-primary">Compress</a>
					}
				</td>
			</tr>
		}
	</tbody>
</table>

<script>
	setTimeout(function () {
		location.reload();
	}, 10000);
</script>