@model IEnumerable<CompressMedia.DTOs.BlobDto>

@{
	ViewBag.Title = "Medias";
	Layout = "_Layout";
}

<h2>Blobs</h2>
<table class="table table-bordered mt-4">
	<thead>
		<tr>
			<th>Name</th>
			<th>Content Type</th>
			<th>Size(Mb)</th>
			<th>Author</th>
			<th>Upload Date</th>
			<th>Compression Time</th>
			<th>Status</th>
			<th>Likes</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var media in Model)
		{
			<tr>
				<td>@media.BlobName</td>
				<td>@media.ContentType</td>
				<td>@media.Size</td>
				<td>@media.Author</td>
				<td>@media.UploadedDate</td>
				<td>@media.CompressionTime</td>
				<td>@media.Status</td>
				<td>
					<span id="like-count-@media.BlobId">@media.LikeCount</span>
				</td>
				@* <td>@media.CommentCount</td> *@
				<td>
					<a asp-controller="Blob" asp-action="Resize" asp-route-blobId="@media.BlobId" class="btn btn-outline-secondary">Resize</a>
					<a asp-controller="Blob" asp-action="Compress" asp-route-blobId="@media.BlobId" class="btn btn-outline-secondary">Compress</a>
					<a asp-controller="Blob" asp-action="ViewBlob" asp-route-blobId="@media.BlobId" class="btn btn-outline-info">View</a>
					<a asp-controller="Blob" asp-action="DeleteBlob" asp-route-blobId="@media.BlobId" asp-route-containerId="@media.ContainerId" class="btn btn-outline-danger">Delete</a>
					<a asp-controller="Comment" asp-action="Index" asp-route-blobId="@media.BlobId" class="btn btn-outline-secondary">View Comments</a>
					<a asp-controller="Comment" asp-action="CreateComment" asp-route-blobId="@media.BlobId" class="btn btn-outline-secondary">Add Comment</a>
					<button class="btn btn-outline-secondary like-button" data-blobid="@media.BlobId">Like</button>
				</td>
			</tr>
		}
	</tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	$(document).ready(function () {
		$('.like-button').click(function () {
			var blobId = $(this).data('blobid');

			$.ajax({
				url: '@Url.Action("LikeBlob", "Like")',
				type: 'POST',
				data: { blobId: blobId },
				success: function (response) {
					if (response.success) {
						$('#like-count-' + blobId).text(response.likeCount);
					} else {
						alert("An error occurred while liking the blob.");
					}
				},
				error: function () {
					alert("An error occurred while sending the request.");
				}
			});
		});
	});
</script>
