@model IEnumerable<CompressMedia.DTOs.BlobDto>

@{
	ViewBag.Title = "Medias";
	Layout = "_Layout";
}

<h2>Blobs</h2>
<table class="table table-bordered mt-4">
	<thead>
		<tr>
			<th>Name</th>
			<th>Content Type</th>
			<th>Size(Mb)</th>
			<th>Compression Time</th>
			<th>Status</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var media in Model)
		{
			<tr>
				<th>@media.BlobName</th>
				<th>@media.ContentType</th>
				<th>@media.Size</th>
				<th>@media.CompressionTime</th>
				<th>@media.Status</th>
				<td>
					@if (media.Status == "Compressed" || media.Status == "Compressing...")
					{
						if (media.ContentType == "image/jpeg" || media.ContentType == "image/png" || media.ContentType == "image/webp")
						{
							<a asp-controller="Blob" asp-action="Resize" asp-route-blobId="@media.BlobId" asp-route-blobName="@media.BlobName" asp-route-contentType="@media.ContentType" asp-route-containerId="@media.ContainerId" class="btn btn-outline-success">Resize</a>

						}
						<button type="button" class="btn btn-outline-success" disabled>Compress</button>
					}
					else
					{
						if (media.ContentType == "image/jpeg" || media.ContentType == "image/png" || media.ContentType == "image/webp")
						{
							<a asp-controller="Blob" asp-action="Resize" asp-route-blobId="@media.BlobId" asp-route-blobName="@media.BlobName" asp-route-contentType="@media.ContentType" asp-route-containerId="@media.ContainerId" class="btn btn-outline-success">Resize</a>
						}
						<a asp-controller="Blob" asp-action="Compress" asp-route-blobId="@media.BlobId" asp-route-blobName="@media.BlobName" asp-route-contentType="@media.ContentType" asp-route-containerId="@media.ContainerId" class="btn btn-outline-success">Compress</a>
					}
					<a asp-controller="Blob" asp-action="ViewBlob" asp-route-blobId="@media.BlobId" class="btn btn-outline-info">View</a>
					<a asp-controller="Blob" asp-action="DeleteBlob" asp-route-blobId="@media.BlobId" asp-route-containerId="@media.ContainerId" class="btn btn-outline-danger">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>

<script>
	setTimeout(function () {
		location.reload();
	}, 10000);
</script>